<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yo</title>
    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}">
    <meta name="description" content="{{ page.description | default: site.description | strip_html | truncate: 160 }}">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
    <meta property="og:description"
        content="{{ page.description | default: site.description | strip_html | truncate: 160 }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ page.url | absolute_url }}">
    <meta property="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
    <meta property="twitter:description"
        content="{{ page.description | default: site.description | strip_html | truncate: 160 }}">
</head>

<body>
    {{ content }}
</body>

</html>